/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.btn {
  border: 0;
  background: #0f62fe;
  font-size: 0.875rem;
  padding: 0.875rem;
  color: #ffffff;
  transition: all 70ms cubic-bezier(0, 0, 0.38, 0.9);
  cursor: pointer;
}
.btn:hover, .btn:focus {
  background: #0353e9;
}

.tag {
  border-radius: 5px;
  color: #6929c4;
  background: #e8daff;
  font-size: 0.75rem;
  display: inline-block;
  margin: 0.25rem 0.25rem 0 0;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.tag:hover, .tag:focus {
  color: #0e6027;
  background: #a7f0ba;
}

.header {
  background: #161616;
  z-index: 99999;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}
.header .logo {
  font-size: 1rem;
}
.header a {
  color: #ffffff;
  margin-right: 3rem;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.form-container fieldset {
  margin-bottom: 2rem;
}
.form-container legend {
  font-size: 0.75rem;
  margin-bottom: 8px;
}
.form-container input, .form-container select {
  font-size: 0.875rem;
  color: #161616;
  background: #f4f4f4;
  border: 0;
  border-bottom: 1px solid #8d8d8d;
  height: 2.5rem;
  padding: 0 1rem;
}
.form-container input:focus, .form-container select:focus {
  outline: none;
}
.form-container input {
  box-sizing: border-box;
  width: 100%;
}
.form-container .helper-text {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
.form-container .helper-text .error {
  color: #da1e28;
}

.table .table--row {
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .table .table--row {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    margin-bottom: 0;
  }
}
.table .table--row .table--cell {
  border-top: 1px solid #e0e0e0;
  background: #f4f4f4;
  color: #525252;
  padding: 1rem;
}
.table .table--row .table--cell .table--inline-head {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
@media (min-width: 600px) {
  .table .table--row .table--cell .table--inline-head {
    display: none;
  }
}
.table .table--row .table--cell.table--head {
  color: #161616;
  background-color: #e0e0e0;
  font-weight: 600;
  display: none;
}
@media (min-width: 600px) {
  .table .table--row .table--cell.table--head {
    display: block;
  }
}

.pagination {
  background: #f4f4f4;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
}
.pagination li {
  display: inline-block;
}
.pagination .page-item {
  font-size: 0.875rem;
  padding: 1rem;
}