/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f6f6;
  font-size: 0.75rem;
}

a {
  text-decoration: none;
  color: #f6a61f;
}
a:hover, a:focus {
  color: #1e2123;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 3rem;
}

.tag {
  border-radius: 5px;
  color: #ffffff;
  background: #f6a61f;
  font-size: 0.75rem;
  display: inline-block;
  margin: 0.25rem 0.25rem 0 0;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.tag:hover, .tag:focus {
  color: #f6a61f;
  background: #f6f6f6;
}

.header {
  background: #ffffff;
  z-index: 99999;
  color: #1e2123;
  font-size: 0.75rem;
  padding: 1.75rem 2rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #f4f4f4;
}
.header .logo {
  font-weight: 700;
}
.header a {
  margin-right: 3rem;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.form-container fieldset {
  margin-bottom: 2rem;
}
.form-container legend {
  font-size: 0.75rem;
  margin-bottom: 8px;
}
.form-container input, .form-container select {
  font-size: 0.875rem;
  color: #161616;
  background: #ffffff;
  border: 0;
  border-bottom: 1px solid #8d8d8d;
  height: 2.5rem;
  padding: 0 1rem;
}
.form-container input:focus, .form-container select:focus {
  outline: none;
}
.form-container input {
  box-sizing: border-box;
  width: 100%;
}
.form-container .helper-text {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
.form-container .helper-text .error {
  color: #da1e28;
}

.flex-container {
  display: flex;
  margin-bottom: 0.25rem;
}

.space-evenly {
  justify-content: space-between;
}

.btn {
  padding: 1.5em;
  border-radius: 1em;
  font-size: 0.875rem;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #f6a61f;
  text-align: center;
  transition: all 0.2s;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  cursor: pointer;
  border: none;
}

.btn.create {
  padding: 1.8em;
}

.btn:hover {
  background-color: #dc8f09;
}

@media all and (max-width: 30em) {
  .btn {
    display: block;
    margin: 0.2em auto;
  }
}
.alert-danger {
  margin: 10px 0px;
  padding: 12px;
  color: #D8000C;
  background-color: #FFD2D2;
  box-shadow: 1px 1px 3px #888;
}

.table .table--headline {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #f6a61f;
}
.table .table--headline:hover, .table .table--headline:focus {
  color: #1e2123;
}
.table .table--row {
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .table .table--row {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr auto;
    margin-bottom: 0;
  }
}
.table .table--row .table--cell {
  border-top: 1px solid #f3f3f3;
  background: #ffffff;
  color: #525252;
  padding: 1rem;
}
.table .table--row .table--cell .table--inline-head {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}
@media (min-width: 600px) {
  .table .table--row .table--cell .table--inline-head {
    display: none;
  }
}
.table .table--row .table--cell.table--head {
  font-weight: 600;
  display: none;
}
@media (min-width: 600px) {
  .table .table--row .table--cell.table--head {
    display: block;
  }
}
@media (min-width: 600px) {
  .table .table--row .table--cell.table--small {
    padding: 0.5rem;
  }
}

.pagination {
  background: #f4f4f4;
  border-top: 1px solid #f3f3f3;
  display: flex;
  justify-content: space-between;
}
.pagination li {
  display: inline-block;
}
.pagination .page-item {
  font-size: 0.875rem;
  padding: 1rem;
}